@model OnlineNews.news
    @{
        ViewBag.Title = "Edit";
        Layout = "~/Views/Shared/_Layout_backend.cshtml";
    }


<div class="content-wrapper" style="min-height: 512px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@TempData["mainHead"]</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">@TempData["breadcrumb"]</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- Form Element sizes -->
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">@TempData["cardTitle"]</h3>
                        </div>
                        <div class="card-body">

                                @using (Html.BeginForm("Edit", "news", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        <h4>ms_items</h4>
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.id)
                                        <input type="hidden" name="item_id">
                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="item_name">Title</label>
                                            <div class="col-md-6">
                                                <input class="form-control text-box single-line" id="item_name" name="item_name" type="text" value="@Model.newsTitle" />
                                                <span class="field-validation-valid text-danger" data-valmsg-for="item_name" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                
                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="items_description">News Description</label>

                                            <div class="col-md-10">
                                                <textarea class="form-control text-box single-line" id="items_description" name="items_description" type="text" value="">@Model.newsDescription</textarea>
                                                <span class="field-validation-valid text-danger" data-valmsg-for="items_description" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        
                                      <div class="form-group">
                                            <label class="control-label col-md-2" for="category_id">Category</label>
                                            <div class="col-md-10">
                                                @Html.DropDownList("category_id", null,"Select Category", htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        
                                       <div class="form-group">
                                            <div class="thumbnail g-logo-img ">
                                                @{ var m = Model.news_img != null ? Model.news_img : "Product_Icon.png"; }
                                                <img id="image" src="~/Uploads/@m" + alt="" style="width: 150px; height: 150px;">
                                            </div>
                                            <label class="control-label col-md-2" for="items_img">Banner</label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="hidden" value="@Model.news_img"/> 
                                                    <input type="file" class="custom-file-input" id="items_img"  name="items_img" onchange="readURL(this);">
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="items_img" data-valmsg-replace="true"></span>
                                                    <label class="custom-file-label" for="items_img">@Model.news_img</label>
                                                </div>
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="">Upload</span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Save" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/.col (left) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
