@using System.Security.Cryptography.X509Certificates
@model OnlineNews.news

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_backend.cshtml";
    int count = 1;
}
@{OnlineNewsEntities db = new OnlineNewsEntities();}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 512px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@TempData["mainHead"]</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">@TempData["breadcrumb"]</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- Form Element sizes -->
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">@TempData["cardTitle"]</h3>
                    </div>
                    <div class="card-body">
                        @Html.ActionLink("Create New", "Create",null,htmlAttributes: new {@class="btn btn-default", style="margin-bottom:10px;"})

                        <table id="datatable" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>#SN</th>
                                <th>Image</th>
                                <th>News Title</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Created By</th>
                                <th>Created On</th>

                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in db.news)
                            {

                                <tr>
                                    <td>@count</td>
                                    <td><img src="~/Uploads/@item.news_img" alt="@item.news_img" width="50px" height="50px" /></td>
                                    <td>@item.newsTitle</td>
                                    <td>@item.newsDescription</td>
                                    <td>@item.category_id</td>
                                    <td>@item.createdby</td>
                                    <td>@item.createdDate</td>
                                    <td>
                                        <a href="/news/Edit/@item.id"><i class="fa fa-edit text-warning"></i></a>
                                        <a href="/news/Delete/@item.id"><i class="fa fa-trash text-danger"></i></a>
                                    </td>
                                    @{ count++;}
                                </tr>
                            }

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>
<!-- /.content -->
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")*@
</p>
